.demoContainer {
  margin: 0 1rem;
}

.searchBarContainer {
  height: 70px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.leftDemoSide {
  /* relative to .dropEffect */
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background: #000000;
  height: calc(100vh - 130px);
}

.leftDemoSide img {
  max-width: 100%;
  max-height: calc(100vh - 130px);
}

.rightDemoSide {
  border-top: 1px solid hsl(0deg 0% 50.2% / 20%);
  height: calc(100vh - 130px);
}

.skeleton {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: flex-start;
}

@media screen and (max-width: 996px) {
  .leftDemoSide {
    height: 50vh;
  }

  .leftDemoSide img {
    max-height: 50vh;
  }

  .rightDemoSide {
    height: unset;
  }

  .skeleton {
    margin-top: 1rem;
    border-top: unset;
  }
}

.searching {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.resultArea {
  overflow-x: hidden;
  overflow-y: scroll;
}

@media screen and (max-width: 996px) {
  .resultArea {
    overflow-x: unset;
    overflow-y: unset;
  }
}

.resultBox {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: flex-strat;
  align-items: center;
  border: 1px solid #e1eaf1;
  border-radius: 1rem;
  margin-top: 1rem;
  margin-bottom: 1rem;
  cursor: pointer;
}

.filename {
  width: 100%;
  margin: 1rem 1rem 0;
  font-size: 24px;
  font-weight: bold;
  border-bottom: 1px solid;
}

.thumbnail {
  display: inline-block;
  width: 50%;
  aspect-ratio: 16 / 9;
  margin-left: 1rem;
  margin-top: 1rem;
  margin-bottom: 1rem;
}

@media screen and (max-width: 996px) {
  .thumbnail {
    width: 100%;
    margin: unset;
    padding-top: 1rem;
    padding-left: 1rem;
    padding-right: 1rem;
  }
}

.thumbnail img,
.thumbnail video {
  width: 100%;
  aspect-ratio: 16 / 9;
  border-radius: 1rem;
  background-color: #000000;
}

.metainfo {
  margin-left: 1rem;
  display: inline-block;
  max-width: 50%;
  font-size: 20px;
}

@media screen and (max-width: 996px) {
  .metainfo {
    width: 100%;
    max-width: 100%;
    text-align: center;
  }
}

.loadingSvg {
  height: 150px;
  width: 150px;
  margin: 8px auto;
  background: url(@site/static/img/loading.svg) no-repeat center;
  background-size: cover;
}

.searchingText {
  font-size: 24px;
  font-weight: bold;
  color: #d3e0ea;
  text-align: center;
}

.dropEffect {
  position: absolute;
  top: 0;
  width: 100%;
  height: calc(100vh - 130px);
  background: hsla(0, 0%, 100%, 0);
  border: 5px solid transparent;
  text-align: center;
  font-size: 1.5rem;
  display: flex;
  align-items: center;
  justify-content: center;
  color: transparent;
  transition: all 50ms ease-out;
  backdrop-filter: blur(0);
  z-index: 0;
}

@media screen and (max-width: 996px) {
  .dropEffect {
    height: 50vh;
  }
}

.dropping {
  background: hsla(0, 0%, 100%, 0.7);
  border: 0.5rem dashed hsl(227, 100%, 70%);
  color: hsl(227, 100%, 70%);
  transition: all 50ms ease-out;
  backdrop-filter: blur(3px);
  z-index: 100;
}
