/**
 * CSS files with the .module.css suffix will be treated as CSS modules
 * and scoped locally.
 */

.heroBanner {
  padding: 0 0;
  text-align: left;
  position: relative;
  overflow: hidden;
  min-height: 100vh;
}

.logoBgContainer {
  position: absolute;
  right: 0;
  top: 0;
}

.logo {
  position: absolute;
  right: 1rem;
  top: 3rem;
}

.logoBg {
  position: relative;
  top: 10rem;
}

@media screen and (max-width: 996px) {
  .heroBanner {
    padding: 2rem;
    flex-direction: column;
    justify-content: space-between;
  }

  .logoBgContainer {
    position: relative;
  }

  .logo {
    position: relative;
    right: unset;
    top: unset;
    z-index: 1;
    height: 300px;
    width: 300px;
    margin: 8px auto;
    background: url(@site/static/img/logo.svg) no-repeat center;
    background-size: cover;
  }

  .logoBg {
    position: absolute;
    top: 2rem;
    z-index: 0;
    transform: rotate(90deg);
    height: 282px;
    width: 333px;
    margin: 8px auto;
    background: url(@site/static/img/logo-bg.svg) no-repeat center;
    background-size: cover;
    top: 2rem;
    transform: rotate(90deg);
  }

  .svgContent {
    display: none;
  }
}

.buttons {
  display: flex;
  align-items: center;
  justify-content: center;
}
