.resultBox {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: flex-strat;
  align-items: center;
  border: 1px solid #e1eaf1;
  border-radius: 1rem;
  margin-top: 1rem;
  margin-bottom: 1rem;
  cursor: pointer;
}

.filename {
  width: 100%;
  margin: 1rem 1rem 0;
  font-size: 24px;
  font-weight: bold;
  border-bottom: 1px solid;
}

.thumbnail {
  display: inline-block;
  width: 50%;
  aspect-ratio: 16 / 9;
  margin-left: 1rem;
  margin-top: 1rem;
  margin-bottom: 1rem;
}

@media screen and (max-width: 996px) {
  .thumbnail {
    width: 100%;
    margin: unset;
    padding-top: 1rem;
    padding-left: 1rem;
    padding-right: 1rem;
  }
}

.thumbnail img,
.thumbnail video {
  width: 100%;
  aspect-ratio: 16 / 9;
  border-radius: 1rem;
  background-color: #000000;
}

.metainfo {
  margin-left: 1rem;
  display: inline-block;
  max-width: 41%;
  font-size: 20px;
}

@media screen and (max-width: 996px) {
  .metainfo {
    width: 100%;
    max-width: 100%;
    text-align: center;
  }
}
